---
import NavItem from './NavItem.astro';
import { navItems } from '../../config/navigation';
---

<aside class="fixed left-0 top-0 h-screen w-16 bg-white dark:bg-gray-800 shadow-lg z-50">
  <div class="flex flex-col h-full">
    <div class="p-3 border-b border-gray-200 dark:border-gray-700">
      <div class="w-10 h-10 bg-purple-600 rounded-lg flex items-center justify-center">
        <span class="material-icons-round text-white">home</span>
      </div>
    </div>
    
    <nav class="flex-1 py-4">
      <ul class="space-y-2">
        {navItems.map((item) => (
          <NavItem 
            href={item.href} 
            icon={item.icon}
            label={item.label}
          />
        ))}
      </ul>
    </nav>
  </div>
</aside>