---
import Layout from '../layouts/Layout.astro';
import Header from '../components/layout/Header.astro';
import DevicesGrid from '../components/devices/DevicesGrid.astro';
---

<Layout title="Devices - Home Automation">
  <div class="min-h-screen p-4">
    <Header>Devices</Header>
    <main class="mt-6">
      <DevicesGrid />
    </main>
  </div>
</Layout>