---
interface Props {
  connected: boolean;
}

const { connected } = Astro.props;
---

<div class="flex items-center gap-2">
  <span class:list={[
    "w-2.5 h-2.5 rounded-full",
    connected ? "bg-green-500" : "bg-red-500"
  ]}></span>
  <span class="material-symbols-outlined text-lg">
    {connected ? "cloud_done" : "cloud_off"}
  </span>
</div>

<script>
  class ConnectionStatus extends HTMLElement {
    constructor() {
      super();
      
      window.addEventListener('wsConnected', () => {
        this.querySelector('span:first-child')?.classList.remove('bg-red-500');
        this.querySelector('span:first-child')?.classList.add('bg-green-500');
        this.querySelector('.material-symbols-outlined')!.textContent = 'cloud_done';
      });

      window.addEventListener('wsDisconnected', () => {
        this.querySelector('span:first-child')?.classList.remove('bg-green-500');
        this.querySelector('span:first-child')?.classList.add('bg-red-500');
        this.querySelector('.material-symbols-outlined')!.textContent = 'cloud_off';
      });
    }
  }

  customElements.define('connection-status', ConnectionStatus);
</script>